<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transports 3M</title>

    <!-- Feuilles de style -->
    <link rel="stylesheet" href="css/main.css" />

</head>
<body>

    <!-- Cadre Contextuel -->
    <div class="flex">

        <!-- Barre de navigation -->
        <div class="navbar">

            <!-- Logo -->
            <div class="flex logo-container">
                <div class="logo"><h2>tm</h2></div>
                <div>
                    <h1>Transports</h1>
                    <h2>Montpellier</h2>
                </div>
            </div>

            <div class="nav-section">

                <div class="titre">LEDEV</div>
                <div class="nav-element" onclick="coordinateur.actualiserPage()">le recharger</div>

            </div>

            <div class="nav-section">

                <div class="titre">Réseau TAM</div>
                <div data-nav-page="carte" class="nav-element">Carte</div>
                <div data-nav-page="arrets" class="nav-element">Arrêts</div>
                <div data-nav-page="lignes" class="nav-element">Lignes</div>
                <div data-nav-page="incidents" class="nav-element">Incidents</div>

            </div>

            <div class="nav-section">

                <div class="titre">Voyager</div>
                <div data-nav-page="itineraires" class="nav-element">Itinéraires</div>
                <div data-nav-page="favoris" class="nav-element">Favoris</div>

            </div>

            <div class="nav-section">

                <div class="titre">Plus</div>
                <div data-nav-page="jsp" class="nav-element">M'Ticket</div>
                <div data-nav-page="jsp" class="nav-element">Site officiel TaM</div>
                <div data-nav-page="statistiques" class="nav-element">Statistiques</div>

            </div>

        </div>
    
        <!-- Contenu principal à afficher -->
        <div class="cadre-contenu" id="cadreContenu">
            .............................
        </div>
    
    </div>
    
</body>

<!-- Scripts -->
<script src="js/main.js"></script>

</html>