<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transports 3M</title>

    <!-- Feuilles de style -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/ressources/indicateur_lignes.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

    <!-- Cadre Contextuel -->
    <div class="flex">

        <!-- Barre de navigation -->
        <div class="navbar">

            <!-- Logo -->
            <div class="flex logo-container">
                <div class="logo">
                    <h2>tm</h2>
                </div>
                <div>
                    <h1>Transports</h1>
                    <h2>Montpellier</h2>
                </div>
            </div>

            <!-- <div class="nav-section">

                <div class="titre">LEDEV</div>
                <div class="nav-element" onclick="coordinateur.actualiserPage()">le recharger</div>

            </div> -->

            <div class="nav-section">

                <div class="titre">Réseau TAM</div>
                <div data-nav-page="carte" class="nav-element">Carte</div>
                <div data-nav-page="arrets" class="nav-element">Arrêts</div>
                <div data-nav-page="lignes" class="nav-element">Lignes</div>
                <div data-nav-page="incidents" class="nav-element">Incidents</div>

            </div>

            <div class="nav-section">

                <div class="titre">Voyager</div>
                <div data-nav-page="itineraires" class="nav-element">Itinéraires</div>
                <div data-nav-page="favoris" class="nav-element">Favoris</div>

            </div>

            <div class="nav-section">

                <div class="titre">Plus</div>
                <a href="https://youtu.be/EQEC0vJziqM" target="_blank">
                    <div data-nav-page="mticket" class="nav-element">M'Ticket</div>
                </a>
                <a href="https://www.tam-voyages.com/index.asp" target="_blank">
                    <div data-nav-page="jsp" class="nav-element">Site officiel TaM</div>
                </a>
                <div data-nav-page="statistiques" class="nav-element">Statistiques</div>

            </div>

        </div>

        <!-- Contenu principal à afficher -->
        <div class="cadre-contenu" id="cadreContenu">
            .............................
        </div>

    </div>

</body>

<!-- Scripts -->
<script src="js/main.js"></script>

</html>