.titre-entete {
    text-align: center;
    margin: 12rem 10rem 2rem 10rem;
    top: 0;
    font-size: 1.30em;
}

.couleur-titre {
    color: rgba(17, 73, 159, 1);
}

.conteneur-recherche {
    display: flex;
    justify-content: center;
}

.sous-conteneur-recherche {
    width: 50%;
}

.barre-de-recherche {
    padding: 1.1rem;
    border-radius: 0.3rem;
    background-color: rgba(230, 232, 236, 0.502);
    border: solid 2px rgba(0, 0, 0, 0.1);
    color: rgba(22, 22, 22, 0.7);
    font-size: 1.3em;
    outline: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.conteneur-resultat-recherche {
    text-align: left;
    font-size: 1.3em;
    background-color: rgba(230, 232, 236, 0.63);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    max-height: 40vh;
}

.resultat-recherche {
    font-family: 'Roboto', 'sans-serif';
    padding: 0.9rem;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    color: rgba(58, 55, 55, 1);
    width: 100%;
    display: block;
    font-weight: 600;
    cursor: pointer;
    animation: slide-in 0.5s ease;
}

.hidden {
    display: none;
}

.recherche-active {
    font-weight: 600;
    background-color: rgba(17, 73, 159, 1);
    color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    animation: burst-color 0.5s ease;
}

.recherche-inactive {
    animation: burst-color-reverse 0.5s ease;
}

@keyframes burst-color {
    from{
        background-color: rgba(230, 232, 236, 0.502);
    }
    to{        
        background-color: rgba(17, 73, 159, 1);
    }
}

@keyframes burst-color-reverse {
    from{
        background-color: rgba(17, 73, 159, 1);
    }
    to{        
        background-color: rgba(230, 232, 236, 0.502);
    }
    
}

@keyframes slide-in {
    from{
        margin-top: 100%;
        height: 300%;
    }
    to{
        margin-top: 0%;
        height: 100%;
    }
}