
.carte {
    z-index: 0;
    height: 955px;
    width: 1595px;
}

.cadre-contenu {
    position: relative;
}

.search-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 26rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 2rem;
}

.search-box-background {
    background-color: rgba(17, 73, 159, 1);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search-box-start {
    background-color: rgba(230, 232, 236);
    border: rgba(0, 0, 0, 0.1) solid 3px;
    padding: 0;
    border-radius: 0.4em;
    height: 3rem;
    outline: transparent;
    color: rgba(22, 22, 22, 0.7);
    font-size: 1rem;
    font-family: roboto;
    padding-left: 0.8em;
    margin-bottom: 0.6rem;
    width: 100%;
}

.search-box-finish {
    background-color: rgba(230, 232, 236);
    border: rgba(0, 0, 0, 0.1) solid 3px;
    padding: 0;
    border-radius: 0.4em;
    height: 3rem;
    outline: transparent;
    color: rgba(22, 22, 22, 0.7);
    font-size: 1rem;
    font-family: roboto;
    padding-left: 0.8em;
    width: 100%;
}

.switch-container {
    position: absolute;
    display: flex;
    margin-left: 20.5rem;
    margin-top: 2rem;
}
.switch {
    z-index: 3;
    position: relative;
    background-color: rgba(17, 73, 159, 1);
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-valider {
    position: absolute;
    z-index: 3  ;
    font-family: roboto;
    color: white;
    font-weight: 600;
    background-color: rgba(17, 73, 159, 1);
    height: 1.8rem;
    width: 7rem;
    text-align: center;
    line-height: 1.8rem;
    border-radius: 0.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}