.entete {
    background-color: rgb(17, 73, 159);
    padding: 1.9rem 3.3rem;
    font-family: 'Roboto', 'sans-serif';
    width: 100%;

    .premier-titre-entete {
        font-size: 2em;
        color: rgba(255, 255, 255, 0.8);
    }

    .second-titre-entete {
        font-size: 2.5em;
        font-weight: 900;
        color: rgba(255, 255, 255);
    }

}

.carte {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.cadre-contenu {
    position: relative;
}

.boite-conteneur {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 26rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 2rem;
}

.boite-fond {
    background-color: rgba(17, 73, 159, 1);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.boite-debut {
    background-color: rgba(230, 232, 236);
    border: rgba(0, 0, 0, 0.1) solid 3px;
    padding: 0; 
    border-radius: 0.4em;
    height: 3rem;
    outline: transparent;
    color: rgba(22, 22, 22, 0.7);
    font-size: 1rem;
    font-family: roboto;
    padding-left: 0.8em;
    margin-bottom: 0.6rem;
    width: 100%;
}

.boite-fin {
    background-color: rgba(230, 232, 236);
    border: rgba(0, 0, 0, 0.1) solid 3px;
    padding: 0;
    border-radius: 0.4em;
    height: 3rem;
    outline: transparent;
    color: rgba(22, 22, 22, 0.7);
    font-size: 1rem;
    font-family: roboto;
    padding-left: 0.8em;
    width: 100%;
}

.fleche-conteneur {
    position: absolute;
    display: flex;
    margin-left: 20.5rem;
    margin-top: 2rem;
    background: none;
    border: none; /* Supprime la bordure par défaut */
    padding: 0; /* Supprime le rembourrage par défaut */
    cursor: pointer; /* Affiche le curseur comme pointer */
    outline: none; /* Supprime la bordure de focus */
}

.fleche {
    z-index: 3;
    position: relative;
    background-color: rgba(17, 73, 159, 1);
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
}

/* Position des flèches dans le conteneur */

.fleche-switch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles pour la boîte de validation de la recherche */

.bouton-valider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: rgba(17, 73, 159, 1);
    height: 2.5rem;
    width: 2.5rem;
    border: none; /* Retire la bordure */
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    top: 90.5%;
    left: 64.5%;
    transform: translate(-50%, -50%);
    cursor: pointer; /* Ajoute un curseur indiquant que c'est cliquable */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-effect {
    animation: spin 0.25s linear;
}