<link rel="stylesheet" href="css/contenus/arrets.css">

<div class="titre-entete">
    <h1>Chercher un <span class="couleur-titre">arrêt</span></h1>
</div>

<div class="overlay" id="overlay">
    <div class="dialog-container">
        <div class="dialog-box" id="ligneInfo">
            <div class="header-dialog-box">
                <div class="title-header" id="title-header-dialog">
                    <h1 class="first-title" id="static-title">Choisir une ligne</h1>
                    <!--<h2 class="second-title">[Nom de l'arrêt]</h2>-->
                </div>
                <div class="close-button-container" onclick="fermerBoutonDialogue(this)">
                    <button>&times;</button>
                </div>
            </div>
            <div class="body-dialog-box dialog-ligne-container" id="body-dialog-box">

                <!--<div class="dialog-ligne ligne-1">

                    <h1><span class="logo-ligne indicateur-ligne tramway ligne-1">T1</span></h1>

                    <div class="description-ligne-conteneur">
                        <h2><span class="description-transport-ligne">Tramway</span></h2>
                        <h1><span class="description-nom-ligne">Ligne 1</span></h1>
                    </div>

                    <div class="horaire-ligne-conteneur">

                        <div class="horaire-ligne aller">
                            <h3><span class="nom-terminus">Odysseum</span></h3>
                            <div class="timer-prochain-passage">X min</div>
                        </div>

                        <div class="horaire-ligne retour">
                            <h3><span class="nom-terminus">Mosson</span></h3>
                            <div class="timer-prochain-passage">X min</div>
                        </div>

                    </div>

                    <div class="bouton-redirection">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>

                </div>-->
            </div>
        </div>
    </div>
</div>

<div class="conteneur-recherche">
    <div class="sous-conteneur-recherche">
        <div class="conteneur-barre-recherche">
            <input type="text" class="barre-de-recherche" id="recherche"
                placeholder="Place de l'Europe, Saint-Eloi,...">
        </div>
        <div class="conteneur-resultat-recherche" id="res-recherche-conteneur">

            <!--<div class="resultat-recherche">

                Nom de l'arrêt
                <div class="resultat-nom-arret">Mosson</div>

                Chaque logo de ligne auxquel appartient l'arrêt
                <div class="conteneur-resultat-logo">
                    <div class="resultat-logo indicateur-ligne tramway ligne-1">T1</div>
                    <div class="resultat-logo indicateur-ligne tramway ligne-2">T2</div>
                </div>

            </div>-->
            <div class="resultat-recherche hidden aucun-res">Aucun résultat trouvé</div>
        </div>
    </div>
</div>

<script src="js/contenus/arrets.js"></script>