<link rel="stylesheet" href="css/contenus/arrets.css">
<link rel="stylesheet" href="css/main.css">

<div class="titre-entete">
    <h1>Chercher un <span class="couleur-titre">arrêt</span></h1>
</div>

<div class="overlay" id="overlay">
    <div class="dialog-container">
        <div class="dialog-box" id="ligneInfo">
            <div class="header-dialog-box">
                <div class="title-header" id="title-header-dialog">
                    <h1 class="first-title">Choisir une ligne</h1>
                    <!--<h2 class="second-title">Une erreur est survenue</h2>-->
                </div>
                <div class="close-button-container" onclick="fermerBoutonDialogue(this)">
                    <button>&times;</button>
                </div>
            </div>
            <div class="body-dialog-box dialog-text-container">
                <p>Test</p>
            </div>
        </div>
    </div>
</div>

<div class="conteneur-recherche">
    <div class="sous-conteneur-recherche">
        <div class="conteneur-barre-recherche">
            <input type="text" class="barre-de-recherche" id="recherche" placeholder="Place de l'Europe, Saint-Eloi,...">
        </div>
        <div class="conteneur-resultat-recherche" id="res-recherche">
            <div class="resultat-recherche hidden">Aucun résultat trouvé</div>
        </div>
    </div>
</div>

<script src="js/contenus/arrets.js"></script>
<script src="js/main.js"></script>
