<link rel="stylesheet" href="css/contenus/arrets.css">

<div class="conteneur-principal">
    <div class="titre-entete">
        <h1>Chercher un <span class="couleur-titre">arrêt</span></h1>
    </div>
    <div class="conteneur-de-recherche">
        <input type="search" class="barre-de-recherche" placeholder="Place de l'Europe, Saint-Eloi,...">
    </div>

</div>