<link rel="stylesheet" href="css/contenus/favoris.css"/>

<div class="banniere">
    <div class="Titre">Favoris</div>
    <div class="Annonce">Sauvegardez vos préférences</div>
</div>

<div class="Vosfav">Vos Favoris</div>
<ul id = "listefav" onload = "affiche()"></ul>

<script src="js/contenus/favoris.js"></script>
