<link rel="stylesheet" href="css/contenus/favoris.css"/>
<script src="js/contenus/favoris.js"></script>


<div class="banniere">
    <div class="Nompage">Favoris</div>
    <div class="Annonce">Sauvegardez vos préférences</div>
</div>

<div class="Vosfav">Vos Favoris</div>
<div class="Listefav">
    <ul>
        <ul id="listefav" ></ul>
    </ul>
</div>

<div class="Ajouter"><a class="ajouter" href="#" onclick="ajouter()"> Ajouter</a></div>
<div id="modal" class="modal">
    <div class="modal-content">
        <div id ="bouton" class="bouton">
            <a  class="bus_u" href ="#" onclick=" boutonf();afficheligne('urbain'); menu1o()">bus urbain</a>
            <a class="tram" href ="#" onclick=" boutonf(); afficheligne('tram'); menu1o()">tram</a>
            <a  class="bus_sub" href ="#" onclick=" boutonf();afficheligne('suburbain'); menu1o()">bus suburbain</a>
        </div>

        <div id="menu1" class="menu1">
            
        </div>

        <div id="menu2" class="menu2">
            
        </div>
    <a class="annuler" href ="#" onclick="fermer()">annuler</a>
    <div class="confirmation" id="confirmation"></div>
    <a class="valider" id="valider" href ="#" onclick="valider(); fermer();">valider</a>
    </div>
</div>