<link rel="stylesheet" href="css/contenus/incidents.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<div class="entete">
    <div class="titre-entete">
        <p class="premier-titre-entete">Montpellier</p>
        <p class="second-titre-entete">Incidents</p>
    </div>
</div>

<div class="corps-page-incidents">
    <div class="barre-de-recherche">
        <input type="search" id="boite-recherche" placeholder="Numéro, nom de la ligne,...">
        <button class="recherche-bouton"><i class="fa-solid fa-magnifying-glass icon"></i></button>
        <a href="#filtres">Filtres</a>
    </div>
    <div class="categories-transports">
        <div class="categorie-tramways">
            <img src="assets/tram-logo.png">
            <p class="titre-categorie-tram">Tramways</p>
        </div>
    </div>
</div>