<link rel="stylesheet" href="css/contenus/incidents.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="css/ressources/indicateur_lignes.css">

<div class="entete">
    <div class="titre-entete">
        <p class="premier-titre-entete">Montpellier</p>
        <p class="second-titre-entete">Incidents</p>
    </div>
</div>

<div class="corps-page-incidents">
    <div class="barre-de-recherche">
        <input type="search" id="boite-recherche" placeholder="Numero, nom de la ligne,...">
        <button class="recherche-bouton"><i class="fa-solid fa-magnifying-glass icon"></i></button>
    </div>
    <div class="categories-transports">
        <div class="categorie">
            <img src="assets/tram-logo.png">
            <div class="conteneur-tc">
                <p class="titre-categorie">Tramways</p>
                <div class="logo-lignes">
                    <h1>
                        <span class="incident-nul indicateur-ligne tramway ligne-1">T1</span>
                        <span class="incident-nul indicateur-ligne tramway ligne-2">T2</span>
                        <span class="incident-modere perturbation-modere indicateur-ligne tramway ligne-3">T3</span>
                        <span class="incident-nul indicateur-ligne tramway ligne-4">T4</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="categorie">
            <img src="assets/bus-montpellier-logo.png">
            <div class="conteneur-tc">
                <p class="titre-categorie">Bus Urbains</p>
                <div class="logo-lignes">
                    <h1>
                        <span class="incident-nul indicateur-ligne busMTP ligne-6">6</span>
                        <span class="incident-nul travaux indicateur-ligne busMTP ligne-7">7</span>
                        <span class="incident-grave perturbation-grave indicateur-ligne busMTP ligne-8">8</span>
                        <span class="incident-nul indicateur-ligne busMTP ligne-9">9</span>
                        <span class="incident-nul indicateur-ligne busMTP ligne-10">10</span>
                        <span class="incident-nul indicateur-ligne busMTP ligne-11">11</span>
                        <span class="incident-nul indicateur-ligne busMTP ligne-15">15</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="categorie">
            <img src="assets/bus-metropole-logo.png">
            <div class="conteneur-tc">
                <p class="titre-categorie">Bus Suburbains</p>
                <div class="logo-lignes">
                    <h1>
                        <span class="incident-modere perturbation-modere indicateur-ligne bus3M ligne-20">20</span>
                        <span class="incident-modere travaux indicateur-ligne bus3M ligne-21">21</span>
                        <span class="incident-nul indicateur-ligne bus3M ligne-22">22</span>
                        <span class="travaux incident-nul indicateur-ligne bus3M ligne-23">23</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>