<link rel="stylesheet" type="text/css" href="css/contenus/itineraires.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

<div class="box-container">
    <div class="box-background">
        <div class="search-box-container">
            <div class="search-box">
                <div class="separateur"></div>
                <div class="text-start">De</div>
            </div>
        </div>
        <div class="search-box-container">
            <div class="search-box">
                <div class="separateur"></div>
                <div class="text-finish">À</div>
            </div>
        </div>
    </div>
</div>