<!--Import de la police (Roboto)-->

<link rel="stylesheet" type="text/css" href="css/contenus/itineraires.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!--Ajout du module de la map (OpenStreetView)-->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    

<!--Corps de la page-->

<div class="entete">
    <div class="titre-entete">
        <p class="premier-titre-entete">Montpellier</p>
        <p class="second-titre-entete">Itinéraires</p>
    </div>
</div>
<div class="overlay" id="overlay">
    <div class="dialog-container">
        <div class="dialog-box" id="erreurCoord">
            <div class="header-dialog-box">
                <div class="title-header">
                    <h1 class="first-title">Attention !</h1>
                    <h2 class="second-title">Une erreur est survenue</h2>
                </div>
                <div class="close-button-container" onclick="fermerBoutonDialogue(this)">
                    <button>&times;</button>
                </div>
            </div>
            <div class="body-dialog-box dialog-text-container">
                <p>Veillez à remplir tous les champs et vérifier votre connexion.</p>
            </div>
        </div>


    </div>
</div>
<div class="boite-conteneur">
    <div class="boite-fond">
        <input type="search" class="boite-debut" id="boite-debut" placeholder="D'où partez-vous ?" />
        <input type="search" class="boite-fin" id="boite-fin" placeholder="Où voulez-vous aller ?" />
    </div>
    <button class="fleche-conteneur" onclick="echangerTexte()">
        <div class="fleche">
            <div class="fleche-switch">
                <i class="fa-solid fa-right-left fa-lg"
                    style="color: rgba(255, 255, 255, 0.95); transform: rotate(90deg);"></i>
            </div>
        </div>
    </button>
    <div class="bouton-valider-conteneur">
        <button class="bouton-valider" id="bouton-valider"><i id="loupe" class="fa-solid fa-magnifying-glass fa-xl"
                style="color: #ffffff;"></i><i id="panneaux" class="fa-solid fa-signs-post fa-flip fa-xl"
                style="color: #ffffff;"></i></button>
    </div>
</div>

<div class="carte" id="map"></div>

<!--Importation du script qui initialise la position de la map et autre-->

<script src="js/contenus/itineraires.js"></script>
