<div class="entete">
    <div class="titre-entete">
        <p class="premier-titre-entete">Recette</p>
        <p class="second-titre-entete">Flan à la noix de coco</p>
    </div>

</div>

<h2 id="api-flan">flan pas chargé</h2>
<button id="api-flan-boutton">charger la recette du flan</button>

<script src="js/contenus/test.js"></script>