body {
    margin: 0;
}

/* VARIABLES ROOT */
:root {
    --couleur-principale: #11499F;
}

/* STYLE GENERALISE */
.flex {
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Roboto';
}

div {
    box-sizing: border-box;
}

/* CADRE CONTEXTUEL */
.cadre-contenu {
    width: 100%;
    position: relative;
}

/* BARRE DE NAVIGATION */
.navbar {
    height: 100vh;
    padding: 2rem;
    background-color: #e6e6e6;
}

.logo-container {

    align-items: center;
    gap: 1.2rem;
    margin-right: 1rem;

    .logo {

        background-color: var(--couleur-principale);
        border-radius: 0.5rem;
        width: 4rem;
        height: 4rem;
        text-align: center;

        h2 {
            line-height: 4rem;
            color: #fff;
            font-size: 1.8em;
        }

    }

    h1 {
        font-weight: 900;
        font-size: 2em;
        line-height: 0.95em;
    }

    h2 {
        font-weight: 600;
        font-size: 1em;
        line-height: 1.5em;
    }

}

.nav-section {

    font-family: 'Roboto';
    margin-top: 1.5rem;

    .titre {
        color: rgba(0, 0, 0, 0.7);
    }

    .nav-element {
        color: rgba(0, 0, 0, 0.8);
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 1.15em;
        font-weight: 700;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        margin-top: 0.3rem;
        cursor: pointer;
        transition-duration: 0.1s;
    }

    .nav-element:hover, .nav-element.active {
        background-color: var(--couleur-principale);
        color: #ffffffd7;
    }

}