body {
    margin: 0;
}

/* VARIABLES ROOT */
:root {
    --couleur-principale: #11499F;
}

/* STYLE GENERALISE */
.flex {
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Roboto';
}

div {
    box-sizing: border-box;
}

/* CADRE CONTEXTUEL */
.cadre-contenu {
    width: 100%;
    position: relative;
}

/* BARRE DE NAVIGATION */
.navbar {
    height: 100vh;
    padding: 2rem;
    background-color: #e6e6e6;
}

.logo-container {

    align-items: center;
    gap: 1.2rem;
    margin-right: 1rem;

    .logo {

        background-color: var(--couleur-principale);
        border-radius: 0.5rem;
        width: 4rem;
        height: 4rem;
        text-align: center;

        h2 {
            line-height: 4rem;
            color: #fff;
            font-size: 1.8em;
        }

    }

    h1 {
        font-weight: 900;
        font-size: 2em;
        line-height: 0.95em;
    }

    h2 {
        font-weight: 600;
        font-size: 1em;
        line-height: 1.5em;
    }

}

.nav-section {

    font-family: 'Roboto';
    margin-top: 1.5rem;

    .titre {
        color: rgba(0, 0, 0, 0.7);
    }

    .nav-element {
        color: rgba(0, 0, 0, 0.8);
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 1.15em;
        font-weight: 700;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        margin-top: 0.3rem;
        cursor: pointer;
        transition-duration: 0.1s;
    }

    .nav-element:hover, .nav-element.active {
        background-color: var(--couleur-principale);
        color: #ffffffd7;
    }

}

/* ENTETE */
.entete {
    background-color: rgb(17, 73, 159);
    padding: 1.9rem 3.3rem;
    font-family: 'Roboto', 'sans-serif';
    width: 100%;

    .premier-titre-entete {
        font-size: 2em;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .second-titre-entete {
        font-size: 2.5em;
        font-weight: 900;
        color: rgba(255, 255, 255);
    }
    
}

/* DIALOGUE */
.overlay {
    z-index: 130;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.5s ease;
}

.dialog-container {
    border-radius: 10px; 
    max-width: 40%;
    max-height: 90%;
    animation: slide-in 0.5s ease;
}

.dialog-box {
    background-color: #FFFFFF;
    position: relative;
    display: none;
    border-radius: 0.4em;

}

.dialog-text-container {
    padding: 1em;
}

.header-dialog-box {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #11499F;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    text-align: left;
}

.title-header {
    padding-left: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.first-title {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
}

.second-title {
    margin: 0;
    color: rgb(255, 255, 255);
}

.close-button-container {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    padding: 0.5em;
    padding-right: 1.3em;
}

.close-button-container button {
    border: none;
    background-color: rgba(217, 217, 217, 0.2);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2em;
}

.dialog-container,
.liste-ligne {
    flex: 1;
}

.liste-ligne {
    padding: 1.5em;
    background-color: #FFFFFF;
}

.fade-out {
    animation: fade-out 0.5s ease;
}

.slide-out {
    animation: slide-out 0.5s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-20%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20%);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.indicateur-ligne {
    font-weight: bolder;
    background-color: rgb(17, 73, 159);
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    vertical-align: middle;
    text-align: center;
    line-height: 1.8em;
    color: #fff;
    border: #fff solid 3px;
    margin: 0 0.6rem 0.6rem 0;
}

.indicateur-ligne.tramway {
    border-radius: 0.34em;
}

.indicateur-ligne.busMTP {
    border-radius: 1em;
}

.indicateur-ligne.bus3M {
    width: 2em;
    height: 1.6em;
    line-height: 1.6em;
    border-radius: 0.34em;
}

a {
    color: inherit;
    text-decoration: inherit;
}